---
import { SwiperButtonNext, SwiperButtonPrev } from "astro-swiper";
import { Swiper, SwiperWrapper, SwiperSlide } from "astro-swiper";
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
---

<style is:global>
  .SwiperSlide {
    display: flex;
    justify-content: center;
  }
</style>

<div
  class="bg-gradient-to-tr from-green-200 p-5 to-blue-500 rounded-t-2xl h-full w-full"
>
  <h2 class="text-white font-mono text-2xl md:text-5xl text-center">
    Kullandığımız Teknolojiler
  </h2>
  <div class="flex items-center">
    <Swiper
      options={{
        autoplay: {
          delay: 4000,
          disableOnInteraction: false,
          waitForTransition: false,
        },
        loop: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      }}
    >
      <SwiperWrapper>
        <SwiperSlide class={"SwiperSlide"}
          ><img src="/img/lottie/afis.png" alt="wordpress" /></SwiperSlide
        >

        <SwiperSlide class={"SwiperSlide"}
          ><img src="/img/lottie/afis.png" alt="Next-Js" /></SwiperSlide
        >
        <SwiperSlide class={"SwiperSlide"}
          ><img src="/img/lottie/afis.png" alt="Astro-Js" /></SwiperSlide
        >
        <SwiperSlide class={"SwiperSlide"}
          ><img src="/img/lottie/afis.png" alt="Photoshop" /></SwiperSlide
        >
      </SwiperWrapper>
    </Swiper>
  </div>
</div>
